<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>295967823010-qi23q5rf4k7s66i6phmvhi0cut1ot2qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295967823010-qi23q5rf4k7s66i6phmvhi0cut1ot2qs</string>
	<key>API_KEY</key>
	<string>AIzaSyBYK-eMqC2ESUa9qk9vxLPYO6w_fJx4Xow</string>
	<key>GCM_SENDER_ID</key>
	<string>295967823010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reikam.cll</string>
	<key>PROJECT_ID</key>
	<string>natural-chinese</string>
	<key>STORAGE_BUCKET</key>
	<string>natural-chinese.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295967823010:ios:2c553144ff8bccba</string>
	<key>DATABASE_URL</key>
	<string>https://natural-chinese.firebaseio.com</string>
</dict>
</plist>